
<!-- onSubmit = "return false" previene que se cambie la pagina al presionar submit-->

<form onSubmit="return false" *ngIf="log">

    <input type = 'text' placeholder = 'Nombre' name = "nombre" [(ngModel)]="form.nombre">

    <input type = "submit" (click) = "Subir()">

</form>

<!--<ul>
  Personas: 
  <li *ngFor = "let item of personas; let i = index; let f = first; let l = last; let e = even; let o = odd">
    {{item.nombre}},  {{item.edad}},  {{item.email}} {{i}} {{f}} {{l}} {{e}} {{o}}
  </li>
</ul>-->

<ng2-smart-table [settings] = "settings" [source] = "source" (editConfirm) = "Editar($event)">



</ng2-smart-table>